.section {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  padding: 16px;
  text-align: center;
  align-items: center;
}

.section-1 {
  background-color: var(--color-1);
}

.section-2 {
  background-color: var(--color-2);
  text-decoration: underline;
}

.section-3 {
  background-color: var(--color-3);
  text-decoration: line-through;
}

.title {
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-4xl);
}